{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h5>Este es un buzo de Adidas que me gustaria comprar</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit deleniti quis, expedita dicta fugit in
                laborum excepturi reiciendis debitis, quas corporis eius alias obcaecati, dolorum autem aliquid
                consequatur sint quae.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/adidas.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}